/cvaa.sublime-project
/cvaa.sublime-workspace
.DS_Store
cvaaa.sublime-project
cvaaa.sublime-workspace
data/xuan.JPG
*.pyc
data/iphone_1.JPG
data/iphone_2.JPG
test.py
data/connected.png
data/panograph_10
data/Panorama/adobe_panoramas